:root {
    --primary-color: #ffba08ff;
    --primary-color-dark: #faa307ff;
    --secondary-color: #ffba08ff;
    --secondary-color-dark: #e85d04ff;
    --text-color: black;
    --font-family: 'Indie Flower', cursive;
    --bg-color: #03071eff;
}