:root {
    --contrast-color: #cdb4dbff;
    --primary-color: #ffc8ddff;
    --primary-color-dark: #ffafccff;
    --secondary-color: #bde0feff;
    --secondary-color-dark: #a2d2ffff;
    --text-color: black;
    --font-family: 'Indie Flower', cursive;
    --bg-color: #005033;
}